// $icon-font-path: "/bower_components/sass-bootstrap/fonts/";

// @import 'sass-bootstrap/lib/bootstrap';

@font-face {
    font-family: 'King3,serif';
    src: url('Kingthings_Foundation.ttf');
}

@font-face {
    font-family: 'Dekar,serif';
    src: url('Dekar.ttf');
}


body{
	// min-width: 2400px;
}


#test {
	position: fixed;
	width: 4px;
	left: 50%;
	top: 0;
	bottom: 0;
	background-color: red;
	z-index: 1;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

#test {
	background-color: black;
	color: white;
}

/* 
*   Below this you can free your tortured mind. - Skull'
*/
body {
	width: 10000px;
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	font-family: 'Dekar';
	font-size: 18px;
}

/* 
*	Bandelette
*/
#opacity {
	width: 300px;
	margin-left: 200px;
	margin-top: 0;
	background-color: white;
	opacity: 0.6;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;

}
#bandelette {
	padding: 10px;
	padding-bottom: 100px;
	width: 250px;
	height: 100%;
	margin: 0 auto;
}


/* Rond */

.rond {
	border-radius: 50%;
	background-color: darkred;
	width: 25px;
	height: 25px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.rond-hover {
	background-image: url('../images/rond.jpg');
}

/*
* Création de classe pour le passage sur les catégorie
*/

/* Style texte */

header h1, footer h2 {
	color: black;
	text-align: center;
	font-family: 'King3';
	font-size: 20px;
}

header h1 {
	box-shadow: 0 -1px 0 rgba(0,0,0,0.1) inset, 0 1px 0 rgba(255,255,255,0.1);
	padding-bottom: 20px;
	font-size: 50px;
}

section li {
	text-align: center;
	padding-bottom: 3px;
	padding-top: 3px;
	color: darkred;
}

section p {
	text-align: justify;
	color: grey;
}

section ul {
	list-style-type: none;
	padding: 0;
	cursor: pointer;
}

footer p {
	position: relative;
	bottom: -20px;
}

#slide1 {
	float: left;
}
#slide2 {
	float: left;
	background-color: black;
}
#slide3 {
	float: left;
}

/*
*	Menu
*/
#menu {
	height: 50px;
	background-color: dodgerblue;
	position: fixed;
	top:0px;
	right: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	z-index: 100;
	display: none;
}

#menu ul {
	padding: 5px;
	margin: 0; 
	padding-top: 10px; 
}

#menu li {
	padding: 5px;
	float: left;
	list-style: none;
}

#menu li:nth-child(2), #menu li:nth-child(3){
	box-shadow: 1px 0px 0 rgba(0,0,0,0.1) inset, 1px 0px 0 rgba(255,255,255,0.1);
}

#menu li a {
	text-decoration: none;
	display: block;
	padding:5px;
	color: white;
}

#menu li a:hover {
	opacity: 0.4;

}
// Curent
.current {
	background-color: darkblue;
}

.box h3 {
	text-align: center;
	color: darkred;
}


#boxing, #boxing2 {
	width: 200px;
	display: table-cell;
	text-align: justify;
}


.box p {
	box-shadow: 0 -1px 0 rgba(0,0,0,0.1) inset, 0 1px 0 rgba(255,255,255,0.1);
	text-align: center;
	color: darkred;
}

.box a {
	text-decoration: none;
	color: black;
	margin-left: 45px;
}

.box a:hover {
	text-decoration: none;
	color: grey;
	margin-left: 45px;
	opacity: 0.4;
}

/* Slide 2 v.2 */

.content-box {
	display: table;
	height: 620px;
	background-color: black;
}

.content-box-bot {
	height: 200px;
	display: table-cell;
	background-color: black;
}

 /* Colonnes */

.col1 {
	display: table-cell;
	width: 400px;
	height: 620px;
}

.col2 {
	display: table-cell;
	width: 500px;
	height: 620px;
}

.col3 {
	display: table-cell;
	width: 450px;
	height: 620px;
}

.col4 {
	display: table-cell;
	width: 600px;
	height: 620px;
}

.col5 {
	display: table-cell;
	width: 400px;
	height: 275px;
}

.col6 {
	display: table-cell;
	width: 500px;
	height: 275px;
}

.col7 {
	display: table-cell;
	width: 450px;
	height: 275px;
}

.col8 {
	display: table-cell;
	width: 600px;
	height: 275px;
}

/* Contenu de la colonne 1 */

.box1 {
	height: 320px;
	background-color: black;
}

.box2 {
	height: 300px;
	background: url("../images/cat.jpg") no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Contenu de la colonne 2 */

.box3 {
	height: 320px;
	background-color: orange;
}

.box4 {
	height: 300px;
	background-color: green;
}

/* Contenu de la colonne 3 */

.box5 {
	height: 320px;
	background-color: cyan;
}

.box6 {
	height: 300px;
	background-color: yellow;
}

/* Contenu de la colonne 4 */

.box7 {
	height: 320px;
	background-color: darkred;
}

.box8 {
	height: 300px;
	background-color: magenta;
}

/* Contenu de la colonne 5 */

.box9 {
	height: 320px;
	background-color: darkred;
}

/* Contenu de la colonne 6 */

.box10 {
	height: 320px;
	background-color: pink;
}

/* Contenu de la colonne 7 */

.box11 {
	height: 320px;
	background-color: purple;
}

/* Contenu de la colonne 8 */

.box12 {
	height: 320px;
	background-color: grey;
}


/* Barre */

.title {
	width: 100%;
	height: 35px;
}

.barre {
	display: inline-block;
	width: 80%;
	height: 35px;
	background-color: white;
}

.title h1 {
	color: white;
	font-size: 25px;
	margin: 0;
	display: inline-block;
	vertical-align: top;
}

/* Anim CSS */

.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11, .box12 {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.box1:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover, .box6:hover, .box7:hover,.box8:hover, .box9:hover, .box10:hover, .box11:hover, .box12:hover {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}