@font-face {
    font-family: 'King3';
    src: url('Kingthings_Foundation.ttf');
}

@font-face {
    font-family: 'Dekar';
    src: url('Dekar.ttf');
}


.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

#test {
	background-color: black;
	color: white;
}

/* 
*   Below this you can free your tortured mind. - Skull
*/
body {
	width: 10000px;
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	font-family: 'Dekar';
	font-size: 18px;
}

#bandelette {
	padding: 10px;
	padding-bottom: 100px;


}

/* centrage contenu bandelette */
#bandelette-wrapper {
	width: 250px;
	height: 100%;
	margin: 0 auto;

}

/* background bandelette */
#opacity {
	width: 300px;
	margin-left: 200px;
	position: relative;
	top: 0;
	background-color: white;
	opacity: 0.6;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;

}

/* Rond */

.rond {
	border-radius: 50%;
	background-color: darkred;
	width: 25px;
	height: 25px;
	margin: 0 auto;
	margin-bottom: 10px;
}

/* 
* Création de classe pour le passage sur les catégorie
*/

/* Style texte */

header h1, footer h2 {
	color: black;
	text-align: center;
	font-family: 'King3';
	font-size: 20px;
}

header h1 {
	box-shadow: 0 -1px 0 rgba(0,0,0,0.1) inset, 0 1px 0 rgba(255,255,255,0.1);
	padding-bottom: 20px;
	font-size: 50px;
}

section li {
	text-align: center;
	padding-bottom: 3px;
	padding-top: 3px;
	color: darkred;
}

section p {
	text-align: justify;
	color: grey;
}

section ul {
	list-style-type: none;
	padding: 0;
}

footer p {
	position: relative;
	bottom: -20px;
}

.red {
	background-image:url("../images/yuki.jpg");
}
#slide1 {
	float: left;
}
#slide2 {
	float: left;
}
#slide3 {
	float: left;
}

/* SLide 1 */


#slide2 h1 {
	position: relative;
	color: white;
	box-shadow: 0 -1px 0 rgba(0,0,0,0.1) inset, 0 1px 0 rgba(255,255,255,0.1);
	left: 600px;
	top:350px;
}

.menu {

	height: 50px;
	background-color: dodgerblue;
	position: fixed;
	top:0px;
	right: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;

}

.menu ul {
	padding: 5px;
	margin: 0; 
	padding-top: 10px; 
}

.menu li {
	padding: 5px;
	float: left;
	list-style: none;
}

.menu li:nth-child(2), .menu li:nth-child(3){
	box-shadow: 1px 0px 0 rgba(0,0,0,0.1) inset, 1px 0px 0 rgba(255,255,255,0.1);
}

.menu li a {
	text-decoration: none;
	display: block;
	padding:5px;
	color: white;
}

.menu li a:hover {
	opacity: 0.4;

}

.box h3 {
	text-align: center;
	color: darkred;
}


#boxing, #boxing2 {
	width: 200px;
	display: table-cell;
	text-align: justify;
}


.box p {
	box-shadow: 0 -1px 0 rgba(0,0,0,0.1) inset, 0 1px 0 rgba(255,255,255,0.1);
	text-align: center;
	color: darkred;
}

.box a {
	text-decoration: none;
	color: black;
	margin-left: 45px;
}

.box a:hover {
	text-decoration: none;
	color: grey;
	margin-left: 45px;
	opacity: 0.4;
}

.content {
	width: 768px;
	height: 400px;
	background-color: white;
	position: relative;
	left: 600px;
	top: 400px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
/* 	opacity: 0.7; */
	padding: 10px;
}

.content img {
	width: 150px;
	height: 80px;
}

.content a {
	position: relative;
	left: 350px;
	text-decoration: none;
	background-color: white;
	color: black;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: #282828 -2px 2px 13px 2px inset;
	padding: 10px;
	position: relative;
	top: 20px;
}

.content a:hover {
	color: chartreuse;
}

/* Slide 3 */

#slide3 h1 {
	position: relative;
	color: white;
	box-shadow: 0 -1px 0 rgba(0,0,0,0.1) inset, 0 1px 0 rgba(255,255,255,0.1);
	left: 600px;
	top:350px;
}
